


  <div class="card_container container-fluid">
      <div *ngFor = "let movie of arrayOfMovies" class="card" style="width: 18rem;">
    <img src= {{movie.restaurant.featured_image}} class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title">{{movie.restaurant.name}}</h5>
      <p class="card-text">{{movie.restaurant.location.address}}</p>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <button  (click)="addToFavs(movie.restaurant)" class="btn btn-primary"> Add </button> 
     
    </div>
  </div>
</div>
<app-footer></app-footer>