<p>Details</p>


<div class="container">
    <div class="card_container">
      <div class="card" style="width:18rem">
        <img src={{movieDetails.featured_image}} class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{movieDetails.name}}</h5>
          <h5 class="card-title">{{movieDetails.address}}</h5>
          <h5 class="card-title">{{movieDetails.location.address}}</h5>
          <h5 class="card-title">{{movieDetails.cuisines}}</h5>
         <!-- <button (click)="addToFavs(restaurant)" class="btn btn-primary"> Add to Favourites</button>-->
        </div>
  </div>
</div>
</div>
      